@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 100% 96%;
    --foreground: 222, 100%, 94%;

    --muted: 238 25.5% 11.4%;
    --muted-foreground: 238 5.1% 53.8%;

    --popover: 238 54.8% 4.94%;
    --popover-foreground: 238 5.1% 96.9%;

    --card: 238 54.8% 4.94%;
    --card-foreground: 238 5.1% 96.9%;

    --border: 238 25.5% 11.4%;
    --input: 238 25.5% 11.4%;

    --primary: 238 51% 38%;
    --primary-foreground: 238 5.1% 96.9%;

    --secondary: 238 25.5% 11.4%;
    --secondary-foreground: 238 5.1% 96.9%;

    --accent: 238 25.5% 11.4%;
    --accent-foreground: 238 5.1% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 238 5.1% 96.9%;

    --ring: 238 51% 38%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 26% 7%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 238 40% 57%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 229 31% 14%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 236 30% 29%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --text: 0 0% 100%;

  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}